
body{
    background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
    font-family: "Gill Sans", sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

header {
    background-color:#7494ec;
    color: white;
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 1000;
    height: 90px;
    width: 100%;
  }
  
  
  header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: border 0.3s linear;
    font-size: 20px;
    padding: 10px;
    border-radius: 7px;
    
  }
  
  header nav ul li a:hover {
  
    border: 1px solid #fff;
    background-color:#7494ec;
  }
  
  .contheader {
    text-align: center;
    width: 780px;
    padding: 10px;
    margin-bottom: 20px;
    background-color:#7494ec;
    border-radius: 10px 10px 0 0;
  
  }
.out-wrap{
    position: relative;
    width: 95%;
    margin: 0 auto;
    height: max-content;
    position: relative;
 
}

.out-wrap p{
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);

}

table{
    width: 100%;
    background-color: #fff;
    color: #fff;
    position: relative;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 20px;
    overflow: hidden;
}

thead{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #7494ec;
}

th{
    padding: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    color: #fff;
    text-align: justify;
}

td:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    border: none;

}

tr{
    border-bottom: 1px solid rgba(78,78,78,0.3);
    padding: 1rem;
   
}

tr:last-child{
    border: none;
}
td{
    padding: 1rem;
    color: #000;
}

.detail,
.delete{
    width: 60px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #000;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0;
    background-color:  #ff8a00;
}

a:hover{
    color: #fff;
    background-color: #3659b9;
  } 

  .main_container{
    width: 90px;
    height: 90px;
   
  }
  
  .main_container svg{
      width: 100%;
      height: 100%;
  }
  
  #Pfad_28{
    transform: translate(275.275px, 486.252px);
    animation: logo_up 1.5s ease-in-out;
    transition: 1.5s ease-in-out;
  }
  
  #Pfad_30{
    transform: translate(314.638px, 514.258px);
    animation: logo_down 1.5s ease-in-out;
    transition: 1.5s ease-in-out;
  }
  
  @keyframes logo_up{
    0% {transform: translate(275.275px, 0px);}
    50% {
    
    
    }
    100% {
      transform:  translate(275.275px, 486.252px);
    }
  
  }
  
  
  @keyframes logo_down{
    0% {transform: translate(314.638px, 845.258px);}
    50% {
     
    }
    100% {
      transform: translate(314.638px, 514.258px);
    }
  
  }

  footer {
    background-color: #7494ec;
    color: white;
    text-align: center;
    padding: 20px 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 2px solid #7494ec;
}
 
footer p {
    font-size: 0.9rem;
}




  .animation img{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    width: 100%;
    height: 1000px;
    object-fit: cover;
    z-index: 1;
    pointer-events: none;
  }
  
  .text img{
    position: absolute;
    transform: translate(-50,-50%);
    top: 10%;
    left: 5%;
    z-index: 2;
    object-fit: contain;
    pointer-events: none;
    user-select: none;
  }
  
  .car img{
    position: absolute;
    transform: translate(-50,-50%);
    top: 20%;
    right: 0;
    z-index: 2;
    object-fit: contain;
    pointer-events: none;
    user-select: none;
  }
  
  