
body{
  font-family: "Gill Sans", sans-serif;
  margin: 0;
  padding: 0;
  background: url(/imgs/);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  background-color:#7494ec;
  color: white;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 1000;
  height: 90px;
  width: 100%;
}


header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: border 0.3s linear;
  font-size: 20px;
  padding: 10px;
  border-radius: 7px;
  
}

header nav ul li a:hover {

  border: 1px solid #fff;
 
}



.contheader {
  text-align: center;
  width: 780px;
  padding: 10px;
  margin-bottom: 20px;
  background-color:#7494ec;
  border-radius: 10px 10px 0 0;

}

h1{
  margin: 0;
  font-size: 40px;
  color: #fff;
}
.container{
  width: 100%;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(132, 131, 131, 0.363) ;
}

fieldset{
  padding: 20px;
  border: 1px solid rgba(131, 131, 131, 0.337);
  border-radius: 0 0 10px 10px;
}
legend{
  font-size: large;
  font-weight: bold;
}

input[type="text"],
input[type="time"],
input[type="date"],
input[type="number"]
{
  flex: 1;
  width: 100%;
  height: 30px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid rgb(69, 65, 65, 0.2);
  border-radius: 3px;
  margin:10px auto;
  box-sizing: border-box;
}
label{
  font-size: 14px;
  font-weight: bold;
  vertical-align: middle;
}

button{
  padding: 16px;
  width: 200px;
  background-color:  #ff8a00;
  float: left;
  margin-top: 30px;
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
  border: none;
  transition: 500ms ease-in-out;
  font-weight: bold;
}

button:hover{
  color: #fff;
  background-color: #3659b9;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  vertical-align: middle;
}


td:nth-child(1) {
  width: 10%; /* Second column 25% width */
}

td:nth-child(2) {
  width: 35%; /* Second column 25% width */
}
td:nth-child(3) {
  width: 10%; /* Second column 25% width */
}
td:nth-child(4) {
  width: 35%; /* Second column 25% width */
}

td{
  padding-left: 15px;
  
}

p{
  text-align: center;
}
img{
display: block;
margin-left: auto;
margin-right: auto;

}


  .btn_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  footer {
    background-color: #7494ec;
    color: white;
    text-align: center;
    padding: 20px 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}
 
footer p {
    font-size: 0.9rem;
}


.main_container{
  width: 400px;
  height: 400px;
 
}

.main_container svg{
    width: 100%;
    height: 100%;
}

#Pfad_28{
  transform: translate(275.275px, 486.252px);
  animation: logo_up 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}

#Pfad_30{
  transform: translate(314.638px, 514.258px);
  animation: logo_down 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}

@keyframes logo_up{
  0% {transform: translate(275.275px, 0px);}
  50% {
  
  
  }
  100% {
    transform:  translate(275.275px, 486.252px);
  }

}


@keyframes logo_down{
  0% {transform: translate(314.638px, 845.258px);}
  50% {
   
  }
  100% {
    transform: translate(314.638px, 514.258px);
  }

}

.animation img{
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1000px;
  object-fit: cover;
  z-index: 1;
  pointer-events: none;
}

.text img{
  position: absolute;
  transform: translate(-50,-50%);
  top: 10%;
  left: 5%;
  z-index: 2;
  object-fit: contain;
  pointer-events: none;
  user-select: none;
}

.car img{
  position: absolute;
  transform: translate(-50,-50%);
  top: 20%;
  right: 0;
  z-index: 2;
  object-fit: contain;
  pointer-events: none;
  user-select: none;
}

